@media only screen and (max-width: 1920px) {
    .Grid-Container1 {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .Grid-Container1 {
        div {
            img {
                display: flex;
                width: 40rem;
                border-radius: 1.5rem;
                margin-left: 4.2rem;
            }

        }
    }
}

@media only screen and (max-width: 1800px) {
    .Grid-Container1 {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }

    .Grid-Container1 {
        div {
            img {
                display: flex;
                width: 35rem;
                border-radius: 1.5rem;
                margin-left: 2rem;
            }
        }
    }

    .BoxAcercaDe {
        margin: 1rem;
    }


}

@media only screen and (max-width: 768px) {
    .Grid-Container1 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(11, 1fr);

    }

    .Grid-Container1 {
        div {
            img {
                display: flex;
                width: 33rem;
                border-radius: 1.5rem;
                margin-left: 1.8rem;
            }

        }
    }
}

@media only screen and (max-width: 450px) {
    .Grid-Container1 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(22, 1fr);
    }

    .Grid-Container1 {
        div {
            img {
                display: flex;
                width: 30rem;
                border-radius: 1.5rem;
                margin-left: 4.6rem;
            }
        }
    }

    // .centradoImg {
    //     width: 35rem;
    //     height: 35rem;
    //     margin-left: 3rem;
    // }

    #Mapa {
        display: flex;
        height: 60rem;
        width: 40rem;
    }

    .clasebs {
        width: 32rem;
        margin: 10px auto;
    }
}




@media only screen and (max-width: 380px) {
    .Grid-Container1 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(22, 1fr);
    }

    .Grid-Container1 {
        div {
            img {
                display: flex;
                width: 29rem;
                border-radius: 1.5rem;
                margin-left: 2.8rem;
            }
        }
    }

    .centradoImg {
        width: 35rem;
        height: 35rem;
        margin-left: 1rem;
    }

    #Mapa {
        display: flex;
        height: 50rem;
        width: 35rem;
    }
}