#Contactanos {
    font-family: Arizonia, sans-serif;
    margin-left: 1rem;
    font-size: 5rem;
}

form {
    background-color: rgba(255, 255, 255, 0.7);
    margin: 1rem;
}

form {
    fieldset {
        label {
            font-size: 2rem;
        }
    }
}

#Datos {
    font-size: 3rem;
}

.Form {
    display: block;
    margin: 1rem;
    color: rgb(0, 0, 0);
}