#Contactanos {
    font-family: Arizonia, sans-serif;
    margin-left: 1rem;
    font-size: 5rem;
}

form {
    background-color: $bg-lightT;
    margin: map-get($tamaños, s);
}

form {
    fieldset {
        label {
            font-size: map-get($tamaños, m);
        }
    }
}

#Datos {
    font-size: 3rem;
}

.Form {
    display: block;
    margin: map-get($tamaños, s);
    color: rgb(0, 0, 0);
}